*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color:#333B41;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1{
 display: none;
}

.font_color_white{
 color:#ffffff;
}

.font_color_orange{
 color:#FE9013;
}

.font_color_yellow{
 color:#FFEE2E
}

.font_roboto{
 font-family: 'Roboto', sans-serif;
}

.font_h1{
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 700;
 font-size: 114px;
 line-height: 80%;
}

.font_h2{
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 48px;
 line-height: 120%;
}

.font_h3{
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 36px;
 line-height: 130%;
}

.font_subtitle{
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 line-height: 120%;
}

.font_button{
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 140%;
}

.font_body{
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 140%;
}

.font_smallpara{
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 300;
 font-size: 15px;
 line-height: 120%;
}
.active_cta{
 background-color: #4B9200;
}



body{
 display:flex;
 flex-direction: column;
}

a{text-decoration: none;}

a:active{
 color:#F9804B;
}

.container{
 display: flex;
 flex-direction: row;
}

header{
 width:1600px;
 height:80px;
 background-color: #000000;
 padding-left: 220px;
 padding-right: 220px;
 margin: 0 auto;
}

.container_nav{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-content: center;
 text-decoration: none;
 list-style-type: none;
 gap: 62px;
 letter-spacing: 0.4px;
 height: 80px;
 align-items: center;
}

.nav_bar{
 display: flex;
 flex-direction: row;
 flex-grow: 2;
 justify-content: flex-start;
 gap: 58px;
}

.banner {
 width: 1600px;
 height: 386px;
 margin: 0 auto;
 background-image: url(../../assets/images/Giant\ Panda.png);
 display: flex;
 justify-content: center;
 background-position-y: -200px;
}

.button_radius{
 width:298px;
 height:54px;
 color:#ffffff;
 border:0px;
 background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
 border-radius: 25px;
 cursor: pointer;
}

.button_square{
 width:298px;
 height:54px;
 color:#ffffff;
 border:0px;
 background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
 cursor: pointer;
}

.button_radius:hover , .button_square:hover{
 background:#E47209;
}

.button_radius:active , .button_square:active, .arrow_container:active, .social_ellips:active{
 background:#4B9200;
}

.social_title:active, .footer_copyright_link:active {
 color:#4B9200;
}

.pick_and_feed{
 width:1600px;
 height:1482px;
 padding:40px 220px 180px 220px;
 background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
 margin:0 auto;
 display:flex;
 flex-direction: column;
 justify-content: space-between;
}

.pick_intro{
 height:133px;
 display:flex;
 flex-direction: column;
 justify-content: space-between;
}

.pick_content_wrapper{
background: rgba(253, 253, 255, 0.52);
backdrop-filter: blur(2px);
border-radius: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
height: 964px;
padding: 40px 92px 62px 92px;
}

.pick_content_wrapper h2{
 color:#F9804B;
}

.pick_content_how_it_works_icons{
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 30px;
 height: 244px;
}

.pick_content_how_it_works_icons_container{
 width: 168px;
 height: 168px;
 background-color: #ffffff;
 border: 1px solid #F9804B;
 border-radius: 5px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.pick_content_how_it_works_icons_arrow{
 align-self: center;
 height: 108px;
}

.pick_content_how_it_works_icons_wrap{
 display: flex;
 flex-direction: column;
 gap: 30px;
}

.pick_content_how_it_works_wrapper{
 height: 437px;
 justify-content: space-between;
 display: flex;
 flex-direction: column;
 align-items: center;
}

a.link {
 text-decoration: underline #F9804B;
 color:#333B41
}

p.subtitle {
 align-self: flex-start;
}

p.font_button.content{
 padding-left:39px;
}

.range_slider{
 width:976px;
}

.amount{
 height:400px;
 display:flex;
 flex-direction: column;
 justify-content: space-between;
}
.animal_donate{
 display: flex;
 flex-direction: row;
 align-items: center;
 width: 546px;
 justify-content: space-between;
}
.day_donate{
 width: 159px;
 height: 312px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 12px;
 padding-top: 64px;
 align-items: center;
}

.animal_donate_animal_widget{
 width: 287px;
 height: 254px;
}

.day_donate_number{
width: 82px;
height: 58px;
left: 0px;
top: 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 80%;
text-align: center;
text-transform: uppercase;
color: #000000
}
div.input_another_amount{
 margin: 0 auto;
 margin-top: 68px;
}

input.donate_another_amount{
 background-color: rgba(255, 255, 255, 0.0);
 height: 54px;
 width: 268px;
 border: 1px solid #929699;
 color: #929699;
}

input.donate_monthly{
-webkit-appearance: none;
appearance: none;
width: 16px;
height:16px;
border: 1px solid #E47209;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.0);
cursor:pointer;
}

input.donate_monthly::-ms-check{
 -webkit-appearance: none;
 appearance: none;
 width: 16px;
 height:16px;
 color:#E47209;
 }

div#donate_frequency{
 margin: 0 auto;
 height: 26px;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 140%;
 display: flex;
 width: 222px;
 gap: 50px;
}

.donate_button{
 margin:0 auto;
}

.donate_caption{
 align-self: center;
}

span.currency {
 position: absolute;
 color: #929699;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 500;
 font-size: 20px;
 line-height: 140%;
 margin-left: -23px;
 margin-top: 10px;
}

/*
#range_slider_amount{
 width:977px;
 padding-left:30px;
 padding-right:30px;
 height:2px;
 background-color: #72828E;
 outline: none;
 padding: 0;
 margin: 0;
 appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  background-image: url(../../assets/icons/roller_icon.svg);
  cursor: pointer;
  transition: background-color .15s ease-in-out;
}

input[type=range]::-ms-track{
 background-color: #4B9200;
}

datalist{
 display: flex;
 width:977px;
 padding-left:30px;
 padding-right:30px;
 justify-content: space-between;
}

.tick {
 position: relative;
 display: flex;
 justify-content: center;
 background: #FFEE2E;
 height: 10px;
 width: 10px;
 border-radius: 50%;
 line-height: 95px;
 margin-bottom: 20px;
 margin-top: -14px;
}

.range_slider{
 height:27px;
 background-color: #404950;
}
*/

.form_donate {
 width: 976px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 366px;
}

form #donate_amount_slider {
 display: flex;
 flex-direction: row;
 align-content: stretch;
 position: relative;
 width: 100%;
 height: 27px;
 background-color: #404950;

 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
}
form #donate_amount_slider::before {
 content: " ";
 position: absolute;
 height: 2px;
 width: 855px;
 /*width: calc(100% * (4 / 5));*/
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: #72828E;
}
form #donate_amount_slider input, form #donate_amount_slider label {
 box-sizing: border-box;
 flex: 1;
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
 cursor: pointer;
}
form #donate_amount_slider label {
 display: inline-block;
 position: relative;
 width: 20%;
 height: 100%;
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
}
form #donate_amount_slider label::before {
 content: attr(data_donate_amount);
 position: absolute;
 left: 50%;
 padding-top: 0px;
 transform: translate(-50%, 45px);
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 500;
 font-size: 26px;
 line-height: 140%;
 white-space: nowrap;
 transition: all 0.15s ease-in-out;
}
form #donate_amount_slider label::after {
 content: " ";
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 width: 10px;
 height: 10px;
 background: #FFEE2E;
 border-radius: 50%;
 pointer-events: none;
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
 z-index: 1;
 cursor: pointer;
 transition: all 0.15s ease-in-out;
}
form #donate_amount_slider label:hover::after {
 transform: translate(-50%, -50%) scale(1.25);
}
form #donate_amount_slider input {
 display: none;
}
form #donate_amount_slider input:checked + label::before {
 font-weight: 800;
 opacity: 1;
}
form #donate_amount_slider input:checked + label::after {
 border-width: 4px;
 transform: translate(-50%, -50%) scale(0.75);
}
form #donate_amount_slider input:checked ~ #donate-amount-pos {
 opacity: 1;
}
form #donate_amount_slider input:checked:nth-child(1) ~ #donate-amount-pos {
 left: 6%;
}
form #donate_amount_slider input:checked:nth-child(3) ~ #donate-amount-pos {
 left: 19%;
}
form #donate_amount_slider input:checked:nth-child(5) ~ #donate-amount-pos {
 left: 31%;
}
form #donate_amount_slider input:checked:nth-child(7) ~ #donate-amount-pos {
 left: 44%;
}
form #donate_amount_slider input:checked:nth-child(9) ~ #donate-amount-pos {
 left: 56%;
}
form #donate_amount_slider input:checked:nth-child(11) ~ #donate-amount-pos {
 left: 69%;
}
form #donate_amount_slider input:checked:nth-child(13) ~ #donate-amount-pos {
 left: 81%;
}
form #donate_amount_slider input:checked:nth-child(15) ~ #donate-amount-pos {
 left: 94%;
}


form #donate_amount_slider #donate-amount-pos {
 display: block;
 position: absolute;
 top: 50%;
 width: 40px;
 height: 40px;
 background-image: url(../../assets/icons/roller_icon.svg);

 transition: all 0.15s ease-in-out;
 transform: translate(-50%, -50%);

 opacity: 0;
 z-index: 2;
}
/*
form:valid #donate_amount_slider input + label::before {
 transform: translate(-50%, 45px) scale(0.9);
 transition: all 0.15s linear;
}
form:valid #donate_amount_slider input:checked + label::before {
 transform: translate(-50%, 45px) scale(1.1);
 transition: all 0.15s linear;
}
form + button {
 display: block;
 position: relative;
 margin: 56px auto 0;
 padding: 10px 20px;
 -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
 transition: all 0.15s ease-in-out;
 font-family: inherit;
 font-size: 24px;
 font-weight: 600;
 background: #fff;
 border: 2px solid #000;
 border-radius: 8px;
 outline: 0;
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
 cursor: pointer;
}
form + button:hover {
 background: #000;
 color: #fff;
}
form + button:hover:active {
 transform: scale(0.9);
}
form + button:focus {
 background: #4caf50;
 border-color: #4caf50;
 color: #fff;
 pointer-events: none;
}
form + button:focus::before {
 -webkit-animation: spin 1s linear infinite;
         animation: spin 1s linear infinite;
}
form + button::before {
 display: inline-block;
 width: 0;
 opacity: 0;
 content: "Ôè¥";
 font-family: "Font Awesome 5 Pro";
 font-weight: 900;
 margin-right: 0;
 transform: rotate(0deg);
}
form:invalid + button {
 pointer-events: none;
 opacity: 0.25;
}

@-webkit-keyframes spin {
 from {
   transform: rotate(0deg);
   width: 24px;
   opacity: 1;
   margin-right: 12px;
 }
 to {
   transform: rotate(360deg);
   width: 24px;
   opacity: 1;
   margin-right: 12px;
 }
}

@keyframes spin {
 from {
   transform: rotate(0deg);
   width: 24px;
   opacity: 1;
   margin-right: 12px;
 }
 to {
   transform: rotate(360deg);
   width: 24px;
   opacity: 1;
   margin-right: 12px;
 }
}
*/


footer{
 width: 1600px;
 height: 443px;
 background-color: #111115;
 padding-left: 220px;
 padding-right: 220px;
 padding-top: 40px;
 padding-bottom: 50px;
 margin: auto;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.footer_subscribe{
 display:flex;
 flex-direction: row;
 justify-content: space-between;
}

.footer_ref{
 display:flex;
 flex-direction: row;
 justify-content: space-between;
}

.footer_ref_social{
 display:flex;
 flex-direction: column;
}

.footer_ref_nav_bar{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.footer_ref_copyright{
 display: flex;
 flex-direction: column;
 align-self: flex-end;
}

input.input_subscribe{
 background-color: #111115;
 border:1px solid #F9804B;
 color: #BDBDBD;
 width:228px;
 height:42px;
}

.input_submit{
 width:129px;
 height:42px;
 background-color:#F1F3F2;
 color:#333B41;
 cursor:pointer;
}

.input_submit:invalid{
 color: #D31414;
 border:1px solid #D31414;
}

.input_submit:active{
 color: #4B9200;
 border:1px solid #4B9200;
}

input.input_subscribe:active, input.input_subscribe:focus-visible, input.input_subscribe:focus, input.input_subscribe:focus-within {
 border: 1px solid #4B9200;
}

input.input_subscribe:invalid{
 background-color: #111115;
 border:1px solid #D31414;
 color: #D31414;
 width:228px;
 height:42px;
}

.footer_ref_social_ul{
 text-decoration: none;
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.footer_social{
 display: flex;
 flex-direction: row;
}

.social_ellips{
 width:26px;
 height:26px;
 border-radius: 100%;
 background-color:#C4C4C4;
 display: flex;
}
.social_img{
margin:auto;
}
.social_title{
 text-decoration: none;
 padding-left:8px;
 line-height: 25px;
}

.footer_ref_nav{
 width:366px;
 align-self: flex-end;
}